

hr {
    background-color: rgb(204, 204, 204);
}
/*轮播图*/
.banner {
    width: 100%;
    height: auto;
}

.banner img{
    width: 1920px;
    height: 400px;
}

/* 企业宣传片和关于 start*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .box {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    padding-top: 50px;
}

.about .box .video {
    flex: 1;
    height: 284px;
    width: 379px;
}

.about .box .video #videoCover{
    height: 284px;
    width: 379px;
    cursor: pointer;
}

.about .box .video #videoPlayer{
    height: 284px;
    width: 379px;
    display: none;
}

.about .box .profile {
    flex: 2;
}

.about .box .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;

    padding-left: 30px;
    padding-right: 30px;
}

.about .box .title .more {
    padding-left: 30px;
}

.about .box .title .more button{
    color: white;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 4px;
    background: rgb(215, 163, 114);
}

.about .box .title .textBox .mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.about .box .title .textBox .subTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .box .title .line {
    flex: 1;
}

.about .box .profile {
    padding-left: 20px;
}

.about .box .profile .photoAndContent {
    border: 1px solid rgb(204, 204, 204);
    padding: 20px;
    height: 284px;
    overflow: hidden;
}

.about .box .profile .photo {
    padding-bottom: 20px;
}

.about .box .profile .photoAndContent .content p {
    width: 734px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;  /*限制在一个块元素显示的文本的行数*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.about .box .profile .title {
    padding-right: 0px;
}


/* 企业宣传片和关于 end*/





/* 新闻 start */
.news {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news .box {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    padding-top: 50px;
}

.news .box .title .text {
    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news .box .title .line {
    height: 1px;
    background-color: rgb(204, 204, 204);
    margin-bottom: 15px;
    display: flex;
}

.news .box .title .line .segment{
    height: 1px;
    background-color: red;
    width: 100px;
    margin-left: 20px;
}

.news .box .listNews .title .text {
    justify-content: flex-start;
}

.news .box .listNews .title .text p {
    padding-right: 10px;
    padding-left:  30px;
    cursor: pointer;
}

.news .box .topNews {
    flex: 2;
    padding-right: 30px;
}

.news .box .listNews {
    flex: 1;
}

.news .box .listNews .items .item {
    padding-bottom: 4px;
}

/* 新闻 end */




/* 社交联系 start */
.sns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns .box {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.sns .box .item {
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
}


/* 社交联系 end */
