.paras .box .nextPre {
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.paras .box .nextPre .pre{
	width: 150px;
	height: 40px;
	text-align: center;
	border: 1px solid rgb(204, 204, 204);
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: none;
	cursor: pointer;
}

.paras .box .nextPre .next{
	width: 150px;
	height: 40px;
	text-align: center;
	border: 1px solid rgb(204, 204, 204);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

