.paras .box .content {
	width: 1200px;
}

.paras .box .content .items {
	width: 100%;
}

.paras .box .content .items .item {
	width: 100%;
	display: flex;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 2px solid rgb(204, 204, 204);
}


.paras .box .content .items .item .index{
	width: 100px;
	margin-right: 20px;
}

.paras .box .content .items .item .index .text{
	width: 60px;
	height: 80px;
	background: rgb(230, 230, 230);
}

.paras .box .content .items .item .index .text .day{
	padding-top: 10px;
	color: red;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.paras .box .content .items .item .index .text .yearAndMonth{
	font-size: 12px;
	text-align: center;
}

.paras .box .content .items .item .titleAndText {


}

.paras .box .content .items .item .titleAndText .title{

	color: black;
	font-size: 20px;
	font-weight: 600;
}

.paras .box .content .items .item .titleAndText .text{
	font-size:10px;
	margin-top: 14px;
}
