.paras {
    display: flex;
    justify-content: center;
}

.paras .box {
	min-height: 800px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.paras .box .outline {
    flex: 1;
    border-right: 1px solid rgb(204, 204, 204);
    font-size: 18px;
    padding-top: 30px;
    cursor: pointer;
    min-width: 200px;
}

.paras .box .outline .item {
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.paras .box .outline .item:hover {
	color:red;
}

.paras .box .outline .item .dota{
	height: 10px;
	width: 10px;
	background: rgb(202,153,64);
	margin-right: 10px;
}

.paras .box .detail {
	flex: 5;
}

.paras .box .detail .title{
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}

.paras .box .detail .date{
	text-align: center;
	margin-top: 8px;
	color: gray;
}

.paras .box .detail .content{
	/*display: flex;*/
	/*justify-content: center;*/
	padding: 20px;
}
.footer {
	margin-top: 0px;
}